*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* color: #fff; */
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card{
  height: 20rem;
  width: 17rem;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border: 1px solid #dadada;
  font-size: 11px;
  border-radius: .2rem;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #aaaaaaee;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 2px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #99979786;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 500;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}